.box {
    height: 100px;
    width: 300px;
    background-color: pink;
    /* animation-name: fontAnimation;
    animation-duration: 2s;
    animation-timing-function: ease-in;
    animation-delay: 0;
    animation-iteration-count: 3;
    animation-direction: alternate; */

    /* animation-name: colorAnimate;
    animation-duration: 2s;
    animation-timing-function: ease-in;
    animation-delay: 0;
    animation-iteration-count: infinite;
    animation-direction: alternate; */
    
    /* animation-name: widthAnimate;
    animation-duration: 2s;
    animation-timing-function: ease-in;
    animation-delay: 0;
    animation-iteration-count: infinite;
    animation-direction: normal; */

    animation: widthAnimate 3s ease-in 0s infinite normal;
}

@keyframes widthAnimate {
    0% {
        background-color: green;
    }
    50% {
        background-color: blue;
    }
    100% {
        background-color: red;
    }
    
}

@keyframes fontAnimation {
    from {font-size: 20px;}
    to {
        font-size: 20px;
    }
    to {
        font-size: 40px;
    }
}

@keyframes colorAnimate {
    from {
        background-color: green;
    }
    to {
        background-color: blue;
    }
}